@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.btnbody
{
	display: flex;
	justify-content: center;
	align-items: center;
	/* min-height: 100vh; */
	background: #000;
}
.buttoncontainer
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
#mintbtn
{
	position: relative;
	display: inline-block;
	padding: 15px 30px;
	color: #fff;
	background: transparent;
	border: 2px solid rgb(255, 0, 212);
	text-transform: uppercase;
	font-weight: 600;
	margin: 40px;
	letter-spacing: 2px;
	text-decoration: none;
	transition: 0.5s;
	transition-delay: 0s;
	-webkit-box-reflect: below 0px linear-gradient(transparent,#0002);
}
#mintbtn:hover
{
	transition-delay: 1.5s;
	color: #000;
	box-shadow: 0 0 10px rgb(255, 0, 212),
				0 0 20px rgb(255, 0, 212),
				0 0 40px rgb(255, 0, 212),
				0 0 80px rgb(255, 0, 212),
				0 0 160px rgb(255, 0, 212);
}
#mintbtn:nth-child(2)
{
	filter: hue-rotate(80deg);
}
#mintbtn span
{
	position: relative;
	z-index: 10;
}
#mintbtn:before
{
	content: '';
	position: absolute;
	left: -20px;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 2px;
	background: rgb(255, 0, 212);
	transition: width 0.5s,left 0.5s, height 0.5s,box-shadow 0.5s;
	transition-delay: 1s,0.5s,0s,0s;
	box-shadow: 5px -8px 0 rgb(255, 0, 212),
				5px 8px 0 rgb(255, 0, 212);
}
#mintbtn:hover:before
{
	width: 60%;
	height: 100%;
	left: -2px;
	transition-delay: 0s,0.5s,1s,1s;
	box-shadow: 0px 0 0 rgb(255, 0, 212),
				0px 0 0 rgb(255, 0, 212);
}
#mintbtn:after
{
	content: '';
	position: absolute;
	right: -20px;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 2px;
	background: #0f0;
	transition: width 0.5s,right 0.5s, height 0.5s,box-shadow 0.5s;
	transition-delay: 1s,0.5s,0s,0s;
	box-shadow: -5px -8px 0 #0f0,
				-5px 8px 0 #0f0;
}
#mintbtn:hover:after
{
	width: 60%;
	height: 100%;
	right: -2px;
	transition-delay: 0s,0.5s,1s,1s;
	box-shadow: 0px 0 0 #0f0,
				0px 0 0 #0f0;
}