@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
.glassbtnbody
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	/* min-height: 100vh; */
	/* background: #350048; */
}
#glassbtnlnk{
	font-family: 'Roboto', sans-serif;
}
.glassbtncontainer
{
    /* justify-self: flex-end; */
	/* width: 600px; */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.glassbtncontainer .glassbtn
{
	position: relative;
	width: 155px;
	height: 50px;
    margin: 20px;
}
.glassbtncontainer .glassbtn a
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255,255,255,0.05);
	box-shadow: 0 15px 35px rgba(0,0,0,0.2);
	backdrop-filter: blur(15px);
	border-top: 1px solid rgba(255,255,255,0.1);
	border-bottom: 1px solid rgba(255,255,255,0.1);
	z-index: 10;
	color: #fff;
	border-radius: 30px;
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
	overflow: hidden;
	transition: 0.5s;
}
.glassbtncontainer .glassbtn:hover a
{
	letter-spacing: 3px;
}
.glassbtncontainer .glassbtn a:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 80%;
	width: 50%;
	height: 100%;
	background: rgba(255,255,255,0.1);
	transform: skewX(45deg) translateX(-150%);
	transition: 0.5s;
	transition-delay: 0.5s;
	background: linear-gradient(to left,rgba(255,255,255,0.15), transparent);
}
.glassbtncontainer .glassbtn a:hover:before
{
	transition-delay: 0s;
	transform: skewX(45deg) translateX(200%);
}
.glassbtncontainer .glassbtn:before
{
	content: '';
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -5px;
	width: 30px;
	height: 10px;
	border-radius: 10px;
	background: #ff0461;
	transition: 0.5s;
	transition-delay: 0s;
	pointer-events: none;
}

.glassbtncontainer .glassbtn:hover:before
{
	left: 50%;
	bottom: 0px;
	height: 50%;
	width: 80%;
	transform: translateX(-50%);
	border-radius: 30px;
	transition-delay: 0.5s;
}


.glassbtncontainer .glassbtn:after
{
	content: '';
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -5px;
	width: 30px;
	height: 10px;
	border-radius: 10px;
	background: #ff0461;
	transition: 0.5s;
	transition-delay: 0s;
	pointer-events: none;
}

.glassbtncontainer .glassbtn:hover:after
{
	left: 50%;
	top: 0px;
	height: 50%;
	width: 80%;
	transform: translateX(-50%);
	border-radius: 30px;
	transition-delay: 0.5s;
}


.glassbtncontainer .glassbtn:nth-child(1):before,
.glassbtncontainer .glassbtn:nth-child(1):after
{
	background: #ff1f72;
	box-shadow: 0 0 5px #ff1f72,
				0 0 15px #ff1f72,
				0 0 30px #ff1f72,
				0 0 60px #ff1f72;
}
.glassbtncontainer .glassbtn:nth-child(2):before,
.glassbtncontainer .glassbtn:nth-child(2):after
{
	background: #2bd2ff;
	box-shadow: 0 0 5px #2bd2ff,
				0 0 15px #2bd2ff,
				0 0 30px #2bd2ff,
				0 0 60px #2bd2ff;
}
.glassbtncontainer .glassbtn:nth-child(3):before,
.glassbtncontainer .glassbtn:nth-child(3):after
{
	background: #1eff45;
	box-shadow: 0 0 5px #1eff45,
				0 0 15px #1eff45,
				0 0 30px #1eff45,
				0 0 60px #1eff45;
}
